/* CSS for onze.cool */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	margin:0px;
	font-family: 'Hiragino Kaku Gothic ProN', 'ÉqÉâÉMÉmäpÉS ProN W3', Meiryo, ÉÅÉCÉäÉI, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
form {
	margin:0px;
}

h1 {
	margin:0px;
}
h2 {
	margin:0px;
}
.clear {
	clear: both;
}
.right {
	text-align: right;
}
a {
	color:blue;
}
/* HEADER */
.logo {
	padding:10px;
	background-color: #222;
	font-family: 'Montserrat', sans-serif;
	font-size:xx-large;
	color:#fff;
	background: linear-gradient(to bottom,#666666 0%,#000000 100%);
}

.logo a {
	text-decoration: none;
	color:#fff;
}
.logout {
	float: right;
}
.logout a {
	color:orange;
	margin-right:10px;
}
.userinfo {
	float: right;
	color:#fff;
	margin-right:10px;
}
.errmsg {
	margin: 10px;
	padding:10px;
	border: solid 1px #ff0000;
	background-color: #ffeeee;
}
.info {
	margin: 10px;
	padding:10px;
	border: solid 1px #0000ff;
	background-color: #eeeeff;
}
h2 {
	margin:10px;
}
/* HEADER END */

/* FOOTER */
.footer {
	
}
.footer_text {
	font-size:xx-small;
	text-align: center;
	font-family: monospace;
}
.gen_links {
	text-align: center;
}
.gen_links a {
	color:#888;
	font-size:xx-small;
}

/* FOOTER END */
/* CONTAINER */
.container {
	/*
	width:1200px;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	*/
}
.top_menus {
	margin-left:10px;
}
.top_menu {
	float: left;
}
.top_menu a {
	margin:5px;
}
/* CONTAINER END */
/* BLOCK */
.block {
}
/* BLOCK END */

/* FORM */
.control {
	padding-left:10px;
}
.control_item {
	display: inline;
}
.control_item a {
	color:blue;
	font-family: monospace;
}
.frm {
	margin-top:10px;
	margin-bottom:10px;
}
.frmitem {
	margin-bottom:5px;
	border-bottom:solid 1px #eee;
	padding-left:10px;
	min-height: 3em;
}
.frmtitle {
	font-size:xx-small;
}
.selectfield {
	font-size:large;
}
.textfield {
	font-size:large;
	width:300px;
}
.passwordfield {
	font-size:large;
	width:300px;
}
.datefield {
	font-size:large;
	width:200px;	
}
.textarea {
	width:300px;
	font-size:large;
	height:2em;
}
.frmbuttons {
	padding-left:10px;
}
.frmbutton {
	font-size:large;
}
.delbutton {
	float:right;
	margin-right: 10px;
}
.frmsubmit {
	font-size:medium;
	padding-left:10px;
	padding-right:10px;
	border:solid 1px #1166bb;
	border-radius:3px;
	background-color:#176bbe;
	color:#ffffff;
	background: linear-gradient(#4c94d6, #176bbe);
}
.frmbutton {
	font-size:medium;
	padding-left:10px;
	padding-right:10px;
	border:solid 1px #999999;
	border-radius:3px;
	background-color:#e3e3e3;
	color:#000000;
	background: linear-gradient(#f6f6f6, #e3e3e3);	
}
/* FORM END */

/* TABLE */
.tbl {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	border-collapse: collapse;
}
.tbl th{
	font-weight: normal;
	border:solid 1px #888;
	font-size:small;
	padding-right:5px;
	padding-left:5px;
	background-color: #eee;
	background: linear-gradient(to bottom,#ffffff 0%,#eeeeee 100%);	
}
.tbl td {
	border:solid 1px #888;
	font-size:small;
	padding-right:5px;
	padding-left:5px;
	font-family: monospace;
}
/* TABLE END */
.event_calendar {
	border-collapse: collapse;
}
.event_calendar th {
	border:solid 1px #888;
	font-weight: normal;
	font-size:xx-small;
}
.event_calendar td {
	border:solid 1px #888;
	vertical-align: top;
	font-size:xx-small;
	padding-left:5px;
	padding-right:5px;
}
.event_calendar .target .event2 {
	color:red;
	background-image: url(../img/alert.orange.png);
}
.event_calendar .target .event1 {
	color:red;
	background-image: url(../img/high.priority.png);
}
.event_calendar .target .event0 {
	color:#888;
	background-image: url(../img/chart.png);
}
.event_calendar .day_head {
	font-size:xx-small;
	font-family: monospace;
	text-align: right;
}
.event_calendar .day_body {
}
.event_calendar .day_body a {
	text-decoration:none;
	padding-left:25px;
	display: block;
	margin:5px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	height:20px;
	vertical-align: middle;
}
.top_img {
	width:800px;
}
.top_calendar_control {
}
.top_calendar_control img {
	width:20px;
}