<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ondo</display-name>
	<context-param>
		<param-name>application.title</param-name>
		<param-value>onze.development</param-value>
	</context-param>
	<context-param>
		<param-name>alert.mail.from</param-name>
		<param-value>onze@engawa2525.com</param-value>
	</context-param>
	<context-param>
		<param-name>alert.mail.cc</param-name>
		<param-value>infra@engawa.jp</param-value>
	</context-param>
		
	<context-param>
		<param-name>entity.package</param-name>
		<param-value>jp.engawa.ondo.entity</param-value>
	</context-param> 
	<context-param>
		<param-name>action.package</param-name>
		<param-value>jp.engawa.ondo.action,jp.engawa.ondo.task</param-value>
	</context-param>
	
	<context-param>
		<param-name>action.top</param-name>
		<param-value>./top.do</param-value>
	</context-param>

	<context-param>
		<param-name>action.logout</param-name>
		<param-value>./logout.do</param-value>
	</context-param>

	<context-param>
		<param-name>action.login</param-name>
		<param-value>./login.do</param-value>
	</context-param>
	
	<context-param>
		<param-name>action.change.psw</param-name>
		<param-value>./change_psw.do</param-value>
	</context-param>
	
	<!-- Listener -->
	<listener>
		<listener-class>jp.engawa.gs.common.AppListener</listener-class>
	</listener> 
	<listener>
		<listener-class>jp.engawa.ondo.common.AppListener</listener-class>
	</listener> 
	<!-- Filter -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>jp.engawa.gs.common.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>	
  	<!-- Servlet -->
	<servlet>
		<servlet-name>logservlet</servlet-name>
		<servlet-class>jp.engawa.ondo.servlet.LogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>alerterservlet</servlet-name>
		<servlet-class>jp.engawa.ondo.servlet.AlerterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tables.code</servlet-name>
		<servlet-class>jp.engawa.common.tables.CodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>jp.engawa.gs.common.ActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>info.jsp.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.InfoPageCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>edit.jsp.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.EditPageCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>entity.set.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.EntitySetCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>edit.class.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.EditClassCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>item.class.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.ItemClassCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>info.class.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.InfoClassCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>table.class.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.TableClassCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>table.jsp.code</servlet-name>
		<servlet-class>jp.engawa.gs.gen.TablePageCodeServlet</servlet-class>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>logservlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>alerterservlet</servlet-name>
		<url-pattern>/alert</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>tables.code</servlet-name>
		<url-pattern>/tables.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>info.jsp.code</servlet-name>
		<url-pattern>/info.jsp.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>edit.jsp.code</servlet-name>
		<url-pattern>/edit.jsp.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>entity.set.code</servlet-name>
		<url-pattern>/entity.set.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>edit.class.code</servlet-name>
		<url-pattern>/edit.class.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>item.class.code</servlet-name>
		<url-pattern>/item.class.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>info.class.code</servlet-name>
		<url-pattern>/info.class.code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>table.class.code</servlet-name>
		<url-pattern>/table.class.code</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>table.jsp.code</servlet-name>
		<url-pattern>/table.jsp.code</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<!-- taglib -->
		<taglib>
			<taglib-uri>https://engawa.jp/s3/engawa.gs.tld</taglib-uri>
			<taglib-location>/WEB-INF/lib/engawa.gs.jar</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>https://engawa.jp/s3/engawa.ondo.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/engawa.ondo.tld</taglib-location>
		</taglib>		
	</jsp-config>
</web-app>